.home-page {
  height: 100%;
  background-image: url('/assets/farm-bg-1WT0s-as.gif');
  width: 100%;
  background-size: 100% 100%;
  position: relative;
  .top-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
    .score {
      color: red;
      font-size: 3rem;
      font-weight: bold;
      font-family: 'number';
      text-shadow: -1px -1px 0 #e2d4d4;
    }
    .unit {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      gap: 6px;
      color: #000;
      font-family: 'bold';
      img {
        width: 18px;
        object-fit: contain;
      }
    }
  }
  .tree {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    img {
      width: 22rem;
      object-fit: contain;
    }   
    .add-score {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      font-weight: bold;
      font-family: 'number';
      font-size: 2.2rem;
      text-shadow: -1px -1px 0 #cf0707;
      opacity: 0;
    } 
  }
  .btn-container {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 0 1rem;
    .btn-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .anima {
        margin-top: 1rem;
      }
      .btn-top-right {
        color: #000;
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
    .btn-bot {
      margin-top: 3rem;
      width: 100%;
      position: relative;
      border-radius: 50rem;
      background: rgba(255,255,255,0.4);
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-family: 'bold';
      font-size: 1.2rem;
      overflow: hidden;
      .progress {
        position: absolute;
        height: 100%;
        background: rgb(238, 238, 105);
        left: 0;
      }
      .btn-bot-content {
        background: rgb(219, 77, 77);
        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
      }
      .btn-bot-farming {
        z-index: 9;
        color: #000;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .btn-farming {
          font-family: 'bold';
        }
        img {
          width: 16px;
          height: 16px;
          margin: 0 4px 0 8px;
        }
        .btn-number {
          font-family: 'number';
          font-weight: bold;
          padding-top: 2px;
        }
        .left-time {
          font-family: 'number';
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translate(0, -50%);
          color: rgb(135, 135, 207);
        }
      }
      .btn-bot-farmed {
        color: red;
      }
    }
  }
}
.popup-rule-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-family: 'bold';
  font-size: 1.3rem;
  position: relative;
  border-bottom: 1px solid #eee;
  .close-svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.popup-rule-wrapper {
  padding: 14px 12px;
  .popup-rule-content {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 12px;
  }
  .popup-rule-content-title {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  li {
    line-height: 1.5rem;
    vertical-align: middle;
    margin-top: 4px;
    img, svg {
      vertical-align: middle;
    }
  }
}
