main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .home {
    flex: 1;
    overflow: auto;
    padding-top: 6rem;
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.7rem 0;
      background-color: #222;
      position: fixed;
      width: 100vw;
      top: 0;
      z-index: 99;
      span {
        color: #fff;
        font-size: 1.3rem;
        margin-left: 1rem;
        font-family: Bold;
      }
      svg {
        outline-width: 1px;
        outline-color: #fff;
        outline-offset: 0;
        outline-style: solid;
        border-radius: 50%;
        animation: outline infinite 2s;
      }
      @keyframes outline {
        from {
          outline-offset: 0;
        }
        50% {
          outline-offset: 2px;
        }
        to {
          outline-offset: 0;
        }
      }
    }
    .logo {
      text-align: center;
      margin: 1rem 0;
      svg {
        width: 105px;
        height: 90px;
      }
    }
    .score {
      text-align: center;
      color: #fff;
      font-size: 2.8rem;
      font-family: Bold;
    }
    .wrapper {
      padding: 12px;
    }
    .community {
      background: rgba($color: #fff, $alpha: 0.1);
      color: #fff;
      border-radius: 1rem;
      padding: 1rem;
      font-family: Bold;
      .dogs-com {
        font-size: 1.6rem;
        line-height: 3rem;
      }
      .home-tg {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
      .join-btn {
        background: #fff;
        width: fit-content;
        color: #000;
        border-radius: 3rem;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.8rem 1rem;
        margin-bottom: 0.3rem;
      }
    }
    .reward {
      font-size: 1.6rem;
      color: #fff;
      font-family: Bold;
      margin: 2rem 0;
    }
    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-size: 1.3rem;
      margin-bottom: 3rem;
      .right {
        font-family: Bold;
        padding-right: 1rem;
      }
      .left {
        display: flex;
        align-items: center;
        font-weight: bold;
        .img-wrapper {
          background: rgba($color: #fff, $alpha: 0.1);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          margin-right: .5rem;
        }
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    .list:last-child {
      margin-bottom: 2rem;
    }
  }
  .LeaderBoard {
    flex: 1;
    overflow: auto;
    color: #fff;
    padding: 12px;
    .title {
      font-size: 2.5rem;
      font-family: Bold;
      margin-bottom: 2rem;
    }
    .myself {
      background: rgba($color: #fff, $alpha: 0.1);
      border-radius: 1rem;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        .icon {
          border-radius: 50%;
          min-width: 42px;
          min-height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Bold;
          margin-right: 1rem;
          text-transform: uppercase;
        }
        .name {
          font-weight: bold;
          font-size: 1.3rem;
          margin-bottom: 8px;
          max-width: 160px;
          overflow: hidden;
        }
        .name-score {
          opacity: 0.8;
          font-family: Bold;
          font-size: 1.2rem;
        }
      }
      .right {
        font-family: Bold;
        font-size: 1.3rem;
      }
    }
    .holder-title {
      margin: 1rem 0;
      font-family: Bold;
      font-size: 2rem;
    }
    .holders-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .holders-left {
        display: flex;
        align-items: center;
        .icon {
          border-radius: 50%;
          font-family: Bold;
          margin-right: 1rem;
          text-transform: uppercase;
          min-width: 42px;
          min-height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .name {
          font-weight: bold;
          font-size: 1.3rem;
          margin-bottom: 8px;
          max-width: 160px;
          overflow: hidden;
        }
        .name-score {
          opacity: 0.8;
          font-family: Bold;
          font-size: 1.2rem;
        }
      }
      .right {
        img {
          width: 32px;
          object-fit: contain;
        }
      }
    }
    .holders {
      .adm-list-default .adm-list-body {
        border: none;
        padding-right: 0;
      }
      .adm-list-item-content {
        border: none;
        padding-right: 0;
      }
      .adm-list-item {
        padding: 0;
        background-color: #000;
        border: none;
      }
    }
  }
  .friends {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 22px 12px;
    overflow: auto;
    color: #fff;
    padding-bottom: 7rem;
    .friends-title {
      text-align: center;
      margin: 1rem 0;
      font-family: Bold;
      font-size: 2.5rem;
    }
    .tap-desc {
      font-family: Bold;
      font-size: 1.8rem;
      text-align: center;
    }
    .logo {
      margin: 2rem 0;
      svg {
        width: 170px;
        height: 140px;
      }
    }
    .friends-list-wrapper {
      width: 100%;
      .friends-list-title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }
      .friends-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
      }
      .icon {
        border-radius: 50%;
        font-family: Bold;
        margin-right: 1rem;
        text-transform: uppercase;
        min-width: 42px;
        min-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .name {
        font-weight: bold;
        font-size: 1.3rem;
        max-width: 160px;
        overflow: hidden;
      }
      .fl-left {
        display: flex;
        align-items: center;
      }
      .fl-right {
        font-family: Bold;
        font-size: 1.3rem;
      }
    }
    .invite-btn {
      position: fixed;
      bottom: 72px;
      padding: 1rem;
      width: 100%;
      background: #000;
    }
  }
}