.LeaderBoard {
  flex: 1;
  overflow: auto;
  color: #fff;
  padding: 18px 0;
  .adm-list-default .adm-list-body {
    border: none;
  }
  .adm-list-item-content {
    border-top-color: #312d2d;
  }
  .adm-list-item-content {
    border: none;
    padding-right: 0;
  }
  .adm-list-item {
    padding: 0;
    background: rgba($color: #000000, $alpha: 0.9);
    border: none;
  }
  
  .title {
    font-size: 2.1rem;
    font-family: Bold;
    margin-bottom: 2rem;
    padding: 0 12px;
  }
  .myself {
    width: 96%;
    margin-left: 2%;
    background: rgba($color: #fff, $alpha: 0.1);
    border-radius: 1rem;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      .icon {
        border-radius: 50%;
        min-width: 42px;
        min-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Bold;
        margin-right: 1rem;
        text-transform: uppercase;
      }
      .name {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 8px;
        max-width: 160px;
        overflow: hidden;
      }
      .name-score {
        opacity: 0.8;
        font-family: Bold;
        font-size: 1.2rem;
      }
    }
    .right {
      font-family: 'Bold';
      font-size: 1.3rem;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .holder-title {
    margin: 1rem 0;
    font-family: 'Bold';
    font-size: 2rem;
    padding-left: 12px;
  }
  .holders-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    .holders-left {
      display: flex;
      align-items: center;
      .icon {
        border-radius: 50%;
        font-family: Bold;
        margin-right: 1rem;
        text-transform: uppercase;
        min-width: 42px;
        min-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .name {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 8px;
        max-width: 160px;
        overflow: hidden;
      }
      .name-score {
        opacity: 0.8;
        font-family: Bold;
        font-size: 1.2rem;
      }
    }
    .right {
      span {
        margin-right: 4px;
      }
      img {
        width: 32px;
        object-fit: contain;
        margin-right: 0;
      }
    }
  }
}