.footer {
  background: #f5f5f5;
  padding: 0.5rem 0;
  border-top: 1px solid #999;
  min-height: fit-content;
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-wrapper {
      flex: 1;
    }

    .menu {
      text-align: center;
      cursor: pointer;
    }

    .active {
      svg {
        fill: #000;
        transform: scale(1.2);
      }

      p {
        color: #000;
        font-weight: bold;
      }
    }

    svg {
      width: 26px;
      height: 26px;
      fill: #857f7f;
    }

    p {
      color: #857f7f;
      margin: 0;
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}