.begin-wrapper {
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span {
    color: #fff;
    margin-top: 20px;
    font-size: 1.4rem;
    opacity: 0;
    animation: fadeIn forwards 0.2s;
    text-shadow: -2px -1px 1px #000;
  }
  img {
    max-width: 70vw;
    object-fit: contain;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}